.content{
    
    text-align: center;
    margin-right: 30%;
    margin-left: 35%;
    margin-top: 15%;
    color: white;
    font-weight: bold;
}

.display{
    text-align: center;
    color: rgb(255, 255, 255);
    font-weight: bold;
}

.green{
    color: green;
}

body{
    background-image: url(score.jpg);
    background-size: cover;
    opacity: 80%;
}

html{
    height: 100%;
}